ul.pagination(class=additionalClass)
  li
    - var prevLink = pagination.currentPage > 1 ? '?page=' + (pagination.currentPage - 1) : '';
    - var prevButtonAdditionalClass = pagination.currentPage <= 1 ? 'button--disabled' : '';
    a.pagination__button.button.button--backwards(href=prevLink class=prevButtonAdditionalClass aria-label='Страница назад') Назад
  - var n = 1;
    while (n <= pagination.pageCount)
      li.pagination__item(class=pagination.currentPage === n ? 'pagination__item--active':'')
        a(href='?page='+n) #{n}
      - n++
  li
    - var nextLink = pagination.currentPage < pagination.pageCount ? '?page=' + (+pagination.currentPage + 1) : '';
    - var nextButtonAdditionalClass = pagination.currentPage === pagination.pageCount ? 'button--disabled' : '';
    a.pagination__button.button.button--forward(href=nextLink class=nextButtonAdditionalClass aria-label='Страница вперед') Вперед
