li.preview__item
  ul.preview__breadcrumbs(style="flex-wrap: wrap")
    each category in post.categories
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href='#') #{category}
  .preview__background
    if (post.image && post.image.src)
      img.preview__background-image(src=post.image.src width='460' height='240' srcset=post.image.src alt=post.image.title)
  time.preview__time(datetime=post.createdDate) #{post.dateDisplay}
  h3.preview__name
    a.preview__name-link(href='#') #{post.title}
  p.preview__text #{post.announce}
  a.preview__comment(href='#')
    | Комментарии
    span.preview__cloud
    b.preview__comment-count 12
